<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.circuittester">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CircuitTester">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PhotoChoice"
            android:theme="@style/popupTheme"/>
        <activity
            android:name=".BlankProject"
            android:label="Blank Project"/>
        <activity
            android:name=".componentsList.ComponentsListActivity"
            android:label="Components information"
            android:theme="@style/listTheme"/>
        <activity
            android:name=".componentDetail.ComponentDetailActivity"
            android:label="Component Details"/>
        <activity
            android:name=".SampleDisplay"
            android:label="Samples"/>
        <activity
            android:name=".samples.SampleOne"
            android:label="First Sample"/>
        <activity
            android:name=".samples.SampleTwo"
            android:label="Second Sample"/>
        <activity
            android:name=".samples.SampleThree"
            android:label="Third Sample"/>
        <activity
            android:name=".samples.SampleFour"
            android:label="Fourth Sample"/>
        <activity
            android:name=".samples.SampleFive"
            android:label="Fifth Sample"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
